.container {
  margin: 0 auto;
  text-align: center;
  max-width: var(--supportedLargeWidth);
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.form > * {
  margin-bottom: 8px;
}

.form input,
.form textarea {
  border: var(--secondaryColor) solid 1px;
  border-radius: 2px;
  font-size: 14px;
  padding: 16px 8px;
  width: 400px;
}

.form textarea {
  height: 200px;
}

.submitted {
  padding: 40px;
}

.submitButton {
  width: 420px;
}

.description {
  padding-bottom: 16px;
}
