.header {
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.title {
  align-self: center;
  color: var(--primaryTextColor);
  flex: 1;
  font-size: 18px;
  letter-spacing: 4px;
  padding-left: 8px;
  text-decoration: none;
}

.links {
  display: flex;
  margin: 0;
  padding: 0;
}

.link {
  align-items: center;
  background: #fff;
  border: none;
  color: #000;
  display: flex;
  font-weight: 700;
  justify-content: center;
  padding: 0 16px;
  text-decoration: none;
  transition: all 0.4s ease;
}

.link:hover {
  color: var(--primaryColor);
  cursor: pointer;
}

.link.contact {
  background-color: var(--primaryColor);
  color: #fff;
}

.link.contact:hover {
  background-color: #fff;
  color: var(--primaryColor);
}

.smallOnly {
  display: none;
}

.flex {
  flex: 1;
}

.menuHeader {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.closeButton {
  background: #fff;
  border: none;
  padding: 0 16px;
}

.link:focus,
.closeButton:focus {
  outline: none;
}

@media (max-width: 768px) {
  .links {
    background-color: #fff;
    bottom: 0;
    flex-direction: column;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .links > *:not(.menuHeader) {
    flex: 1;
  }

  .largeOnly {
    display: none;
  }

  .smallOnly {
    display: block;
  }

  .links.hideNav {
    display: none;
  }
}
